<% include ./header.ejs %>
    <div class="container" id="masonry_container">
        <% posts.forEach(function(post){ %>
        <div class="masonry-grid">
            <%if(post.thumbnail){%>
                <img src="/uploads/<%=post.thumbnail%>">
            <%}%>
            <p>
                <%=post.title%><br />
                by <%=post.username%>(
                <%=post.getDate.year%>.
                <%=post.getDate.month%>.
                <%=post.getDate.day%>
                )
            </p>
        </div>
        <%});%>
    </div>
<style type="text/css">
.masonry-grid img { max-width: 260px; }
</style>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript">
    var $masonry_container = $('#masonry_container');
    $masonry_container.imagesLoaded(function(){
      $masonry_container.masonry({
        itemSelector : '.masonry-grid',
        columnWidth : 270
      });
    });
</script>
<% include ./footer.ejs %>